*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(190, 178, 178);
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 110, 255);
    text-align: center;
    line-height: 50px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.weather{
    width: 100%;
    height: 500px;
}
.weather #form1{
    width: 50%;
    height:auto;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    margin-top: 50px;
}
#form1 #inp1{
    width: 300px;
    height: 30px;
    padding: 10px;
}
#form1 button{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}
#form1 button:hover{
    cursor: pointer;
}
.content p{
    color: black;
    font-size: 20px;
    margin: 20px 0;
}
