<div class="header">
  <a href="/">Home</a>
  <a href="/customer1">Customer1</a>
  <a href="/customer2">Customer2</a>
  <a href="/customer3">Customer3</a>
  <a href="/customer4">Customer4</a>
</div>
<p class="static-title">{{title}} /</p>