<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <div class="home">
            <h2>{{title}}</h2>
            <p>{{descrp}}</p>
        </div>
        {{>footer}}
    </body>
</html>