<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <div class="weather">
            <form id="form1">
            <input type="text" id="inp1" placeholder="Enter your country:">
            <button>search</button>
            <div class="content">
            <p id="location"></p>
            <p id="longtitude"></p>
            <p id="latitude"></p>
            <p id="forcast"></p>
            <p id="error"></p>
            </div>
            </form>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>